* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(10, 10, 10);
}
/* 
.home-landing {
  
} */

.bar-toggle {
  background: transparent;
  border-color: transparent;
  position: fixed;
  top: 2rem;
  left: 3rem;
  color: rgb(115, 115, 243);
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s linear;
  animation: bounce 5s ease-in-out infinite;
  z-index: 1;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.bar-toggle:hover {
  color: rgb(15, 12, 12);
}

.home-body {
  padding: 2rem 0rem 0rem 8rem;
  display: inline-block;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 35vw;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  transform: translate(-100%);
  z-index: 2;
}

.show-sidebar {
  transform: translate(0);
}

.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: rgb(236, 78, 78);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  padding: 1rem;
}

.list li {
  display: block;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  transition: all 0.5s ease;
}
.list li:hover {
  color: hsl(205, 78%, 60%);
  background-color: hsl(205, 86%, 81%);
}
