* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(10, 10, 10);
}
/* 
.home-landing {
  
} */

.bar-toggle {
  background: transparent;
  border-color: transparent;
  position: fixed;
  top: 1rem;
  left: 2rem;
  color: rgb(115, 115, 243);
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s linear;
  animation: bounce 5s ease-in-out infinite;
  z-index: 1;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.bar-toggle:hover {
  color: rgb(15, 12, 12);
}

.home-body {
  padding: 2rem 0rem 0rem 8rem;
  display: inline-block;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 35vw;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  transform: translate(-100%);
  z-index: 2;
}

.show-sidebar {
  transform: translate(0);
}

.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: rgb(236, 78, 78);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  padding: 1rem;
}

.list li {
  display: block;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  transition: all 0.5s ease;
}
.list li:hover {
  color: hsl(205, 78%, 60%);
  background-color: hsl(205, 86%, 81%);
}

/* employee sction  */
.employee-section {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid black; */
  gap: 5px;
  /* padding-left: 5px; */
}
.employee {
  display: column;
  text-transform: capitalize;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  margin: 0px auto;
  padding: 20px;
  line-height: 1.5rem;
}

.detailsColor {
  border: 0px solid black;
  border-radius: 5px;
  background-color: #a7a7cd;
  color: #fffbfb;
  padding: 5px;
  margin-top: 5px;
}
.employee-to-home {
  margin-top: 5rem;
  margin-left: 7rem;
  border: 0px solid black;
  width: 12%;
  padding: 10px;
  border-radius: 5px;
  background-color: #a7a7cd;
  color: #fffbfb;
}

/* single employee  */
.singleEmployee {
  padding-top: 5rem;
  padding-left: 3rem;
}

.singleLinkRoute {
  display: flex;
  gap: 10px;
}
.singleLink {
  border: 0px solid black;
  border-radius: 5px;
  background-color: #a7a7cd;
  color: #fffbfb;
  /* padding-left: 10rem; */
  padding: 5px;
  width: 5rem;
  text-transform: uppercase;
}
.singleLink:hover {
  background-color: orange;
  color: black;
}

.singleStaffInfo {
  padding-top: 2rem;
  text-transform: capitalize;
  font-weight: 100;
  font-size: large;
  line-height: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* color: rgb(51, 68, 66); */
}
